version: "3.9"

services:
  db:
    image: postgres:16
    container_name: messenger_db
    environment:
      POSTGRES_DB: messenger_db
      POSTGRES_USER: messenger_user
      POSTGRES_PASSWORD: messenger_pass
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    container_name: messenger_backend
    environment:
      DATABASE_URL: postgresql://messenger_user:messenger_pass@db:5432/messenger_db
      JWT_SECRET_KEY: CHANGE_ME_SECRET
    depends_on:
      - db
    ports:
      - "16000:16000"

  frontend:
    build: ./frontend
    container_name: messenger_frontend
    depends_on:
      - backend
    environment:
      - REACT_APP_API_BASE_URL=http://localhost:6000
    ports:
      - "80:80"

volumes:
  db_data:
